form .row{
    padding: 0 200px !important;
    margin-top: 50px!important;
    margin-left: 10%;
}

.sideHeading{
    margin-left: 23.7%;
}

input.form-controls{
    padding: 20px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-cont{
    padding: 20px;
    width: 71.3%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitReq{
    background-color: #f05628;
    margin-left: 80% !important;
    color: white;
    height: 60px;
    margin-top: 30px;
    margin-left: 70% !important;
    margin-bottom: 50px;
}

.submitReq:hover{
    background-color: #f05628;
    color: white;
}